<form action="" [formGroup]="form" *ngIf="!loading">
  <div class="card">
    <div class="card-body">
      <div class="row mt-1">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="jobNumber" class="mb-2">Job Number</label>
            <input
              id="jobNumber"
              class="form-control"
              type="text"
              placeholder="Job Number"
              formControlName="jobNumber"
              [ngClass]="{
                'is-invalid':
                  form.get('jobNumber')!.touched &&
                  form.get('jobNumber')!.invalid
              }"
            />
          </div>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <label for="jobTitle" class="mb-2">Job Title</label>
            <input
              id="jobTitle"
              class="form-control"
              type="text"
              placeholder="Job Title"
              formControlName="jobTitle"
              [ngClass]="{
                'is-invalid':
                  form.get('jobTitle')!.touched && form.get('jobTitle')!.invalid
              }"
            />
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="jobStartDate" class="mb-2">Job Start Date</label>
            <div class="input-group">
              <input
                class="form-control"
                id="jobStartDate"
                placeholder="yyyy-mm-dd"
                name="dp"
                formControlName="jobStartDate"
                ngbDatepicker
                #d="ngbDatepicker"
                [ngClass]="{
                  'is-invalid':
                    form.get('jobStartDate')!.touched &&
                    form.get('jobStartDate')!.invalid
                }"
              />
              <button
                class="btn btn-outline-secondary"
                (click)="d.toggle()"
                type="button"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-calendar3"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"
                  />
                  <path
                    d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="jobCloseDate" class="mb-2">Job Close Date</label>
            <div class="input-group">
              <input
                class="form-control"
                id="jobCloseDate"
                placeholder="yyyy-mm-dd"
                name="dp"
                formControlName="jobCloseDate"
                ngbDatepicker
                #end="ngbDatepicker"
                [ngClass]="{
                  'is-invalid':
                    form.get('jobCloseDate')!.touched &&
                    form.get('jobCloseDate')!.invalid
                }"
              />
              <button
                class="btn btn-outline-secondary"
                (click)="end.toggle()"
                type="button"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-calendar3"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"
                  />
                  <path
                    d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-sm-6 d-flex align-items-center">
          <div class="form-group">
            <input
              type="checkbox"
              class="form-check-input"
              id="experienceRequired"
              formControlName="experienceRequired"
            />
            <label class="form-check-label px-2" for="experienceRequired"
              >Experience Required</label
            >
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="numberOfOpenings" class="mb-2"
              >Number of openings</label
            >
            <input
              id="numberOfOpenings"
              class="form-control"
              type="number"
              placeholder="Number of openings"
              formControlName="numberOfOpenings"
            />
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="form-group">
          <div class="form-outline">
            <label class="form-label" for="jobNotes">Job Notes</label>
            <textarea
              class="form-control"
              id="jobNotes"
              placeholder="Job Notes"
              rows="4"
              formControlName="jobNotes"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button
          class="btn btn-primary btn-block confirm-button mt-4 me-3"
          (click)="submit()"
        >
          <!--          [disabled]="form.invalid"-->
          <!--        >-->
          Confirm
        </button>
        <button class="btn btn-warning btn-block mt-4" routerLink="/jobs">
          Back
        </button>
      </div>
    </div>
  </div>
</form>
